REDIS_PASSWORD=
JWT_SECRET=
CASSANDRA_HOSTS=localhost
CASSANDRA_PORT=9042
CASSANDRA_USER=admin
CASSANDRA_PASSWORD=nexuschat165
CASSANDRA_KEYSPACE=NexusChat
USER_OAUTH_GOOGLE_CLIENTID=
USER_OAUTH_GOOGLE_CLIENTSECRET=
NOTIFICATION_VAPID_PUBLICKEY=
NOTIFICATION_VAPID_PRIVATEKEY=
NOTIFICATION_VAPID_SUBJECT=mailto:admin@nexuschat.click
CALL_TURN_SHAREDSECRET=
